# Lab02 - Data manipulation, geostatistical analysis, and mapping

Learning goals

- develop skills in importing and modifying data using python.
- perform geographic statistical operations and transformations using python
- devlop skill in new and innovative means of mapping

---

This lab will look at an incredibly esoteric dataset and question. How has the geographic center of baseball teams shifted since 1900.

*Disclaimer* - I do not really even like baseball, but it is a cool dataset and also tells us a bit about how we have shifted geographically as a society.

*Disclaimer* - Liam really likes baseball, go Cubs

In [2]:
# First lets import the packages we will need. Always put these up front!
import pandas as pd
import numpy as np
import math
import folium #Folium is a library that allows us to create webmaps
import os

In [4]:
# Change your computer's directory to where you have saved the baseball .csv file
os.chdir("/Users/f67f911/Desktop/GPHY504_Lab/")

In [5]:
# read in the csv file and look at it
# Since you have changed your directory, this should automatically be read in
df = pd.read_csv('Baseball_Decades.csv')
print(df.head)
print(df.dtypes)

<bound method NDFrame.head of      Decade        Team   State  Latitude  Longitude
0      1900      Boston      MA  42.35866   -71.0567
1      1900    Brooklyn      NY  40.69245   -73.9904
2      1900     Chicago      IL  41.88425   -87.6324
3      1900  Cincinnati      OH  39.10713   -84.5041
4      1900    New York      NY  40.78200   -73.8317
..      ...         ...     ...       ...        ...
137    2010   St. Louis      MO  38.62775   -90.1996
138    2010   Tampa Bay      FL  27.58300   -82.6330
139    2010       Tempe      AZ  33.42551  -111.9370
140    2010     Toronto  Canada  43.65740   -79.4328
141    2010  Washington      DC  38.89037   -77.0320

[142 rows x 5 columns]>
Decade         int64
Team          object
State         object
Latitude     float64
Longitude    float64
dtype: object

It is important to look at the data types and understand the data, this will potentially mess you up later on.

### Indexing

[Indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) on a pandas DataFrame allows you to subset or filter the data based upon a condition(s) that you provide.

A couple new concepts: To access all rows of one or more columns, we can simply specify the column names in brackets. Note that the printout doesn't print all of our values, but tells us the total length of the column and also tells us the data type of all elements of the column. Since each pandas DataFrame column is a NumPy array, all values in a column have the same data type.

In [6]:
print(df['Team']) # just print out the column of the cities that had a team

0          Boston
1        Brooklyn
2         Chicago
3      Cincinnati
4        New York
          ...
137     St. Louis
138     Tampa Bay
139         Tempe
140       Toronto
141    Washington
Name: Team, Length: 142, dtype: object

To access data by index labels, we must use the `.loc` attribute before the brackets. Recall from above that we currently have a `RangeIndex` with numbers that go from 0 to 141 with a step size of 1.

In [8]:
df.loc[0] # just grab the first row

Decade           1900
Team           Boston
State              MA
Latitude     42.35866
Longitude    -71.0567
Name: 0, dtype: object

In [9]:
df.loc[10:20] # grab rows 10 - 20

    Decade          Team State  Latitude  Longitude
10    1920      Brooklyn    NY  40.69245   -73.9904
11    1920       Chicago    IL  41.88425   -87.6324
12    1920       Chicago    IL  41.88425   -87.6324
13    1920    Cincinnati    OH  39.10713   -84.5041
14    1920     Cleveland    OH  41.50475   -81.6907
15    1920       Detroit    MI  42.33168   -83.0480
16    1920      New York    NY  40.78200   -73.8317
17    1920      New York    NY  40.78200   -73.8317
18    1920  Philadelphia    PA  39.95228   -75.1625
19    1920  Philadelphia    PA  39.95228   -75.1625
20    1920    Pittsburgh    PA  40.43834   -79.9975

In [10]:
df.loc[10:20, ['Team','Decade']] # grab rows 10 - 20, but just the team and decade columns. 
# Notice how the column order was switched.

            Team  Decade
10      Brooklyn    1920
11       Chicago    1920
12       Chicago    1920
13    Cincinnati    1920
14     Cleveland    1920
15       Detroit    1920
16      New York    1920
17      New York    1920
18  Philadelphia    1920
19  Philadelphia    1920
20    Pittsburgh    1920

We can use conditional statements and boolean logic in combination with `.loc` as well. Instead of the English words `and` and `or` like we used in Lab 1 conditional statements, use `&` and `|` characters for bitwise comparisons in the `.loc` statements. Also note that multiple logical statements each need to be enclosed in their own parentheses:

Lets find all of the data for 1960...

In [11]:
teams_1960s = df.loc[df['Decade'] == 1960]
teams_1960s

    Decade           Team State  Latitude  Longitude
40    1960      Baltimore    MD  39.29058   -76.6093
41    1960         Boston    MA  42.35866   -71.0567
42    1960        Chicago    IL  41.88425   -87.6324
43    1960        Chicago    IL  41.88425   -87.6324
44    1960     Cincinnati    OH  39.10713   -84.5041
45    1960      Cleveland    OH  41.50475   -81.6907
46    1960        Detroit    MI  42.33168   -83.0480
47    1960    Kansas City    MO  39.10295   -94.5831
48    1960    Los Angeles    CA  34.05349  -118.2450
49    1960      Milwaukee    WI  43.04181   -87.9068
50    1960       New York    NY  40.78200   -73.8317
51    1960   Philadelphia    PA  39.95228   -75.1625
52    1960     Pittsburgh    PA  40.43834   -79.9975
53    1960  San Francisco    CA  37.77712  -122.4200
54    1960      St. Louis    MO  38.62775   -90.1996
55    1960     Washington    DC  38.89037   -77.0320

Let's just look at the teams in the 1960s that were in Ohio.

In [12]:
# Combine a numerical value (Decade) with a text string (State)
data_1960_OH = df.loc[(df['Decade'] == 1960) & df.State.str.contains('OH')]
data_1960_OH

    Decade        Team State  Latitude  Longitude
44    1960  Cincinnati    OH  39.10713   -84.5041
45    1960   Cleveland    OH  41.50475   -81.6907

One of the things to notice are the differences between the following two lines of code:

```
df.loc[df['Decade'] == 1960]
```

```
teams_1960s = df.loc[df['Decade'] == 1960]
```
While both code blocks might look the same, the first code block simply displays the selection, like a filter in Excel. The second code block actually creates a new variable from the subset.

## Questions
1. What team is saved in the 75th row?
2. How many baseball teams were in NY state in 1900? How many teams were in NY state in 2000?

## Getting the Latitude and Longitude into a cartesian surface. 

While it is easier for us to visualize lat & lon, the reality is that it is good for a flat map, not something like a sphere. realities is that it is not great for measuring distance on something like a sphere. Because of the we need to convert the Latitude and Longitude column into radians and then into a Cartesian plane. This will give our locations a numeric values rather than and coordinate value.

Convert Lat and Lon from degrees to radians using the general formulas.

```
lat_rad = lat * PI/180
lon_rad = lon * PI/180
```
Now we need to get into a Cartesian space.

```
X = cos(lat_rad)*cos(lon_rad)
Y = cos(lat_rad)*sin(lon_rad)
Z = sin(lat_rad)
```

So now let's turn that into executable code. To see how that might work, you need to run the following code in a new code cell:



```
demo = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
demo["shiny_new_column"] = df["a"] * df["b"]

print(demo)
```

Now let's roll with this on our Baseball dataset.

In [13]:
PI = math.pi # set the PI variable using the math package for simplicity 
PI

3.141592653589793

In [17]:
# Finish this cell block for lon_rad
df["lat_rad"] = df["Latitude"] * PI/180
# You insert code for lon_rad here

In [32]:
# Code needs to be deleted
df["lon_rad"] = df["Longitude"] * PI/180

Now convert the X,Y,Z cartesian space.

In [18]:
df['X'] = np.cos(df.lat_rad)*np.cos(df.lon_rad)
# You complete the code for Y and Z

In [33]:
# Delete
df['Y'] = np.cos(df.lat_rad)*np.sin(df.lon_rad)
df['Z'] = np.sin(df.lat_rad)

Alright so now we have our dataframe all set, now we just have to compute the geographic mean using the formulas:

$\overline{X} = \frac{X_{n}}{n}$


$\overline{Y} = \frac{Y_{n}}{n}$

$\overline{Z} = \frac{Z_{n}}{n}$

for each decade...

So  we need to do our analysis on the subset out each decade.

Hmm...

We need to go back to our indexing expertise.

In [34]:
print(df)

     Decade        Team   State  Latitude  Longitude   lat_rad   lon_rad  \
0      1900      Boston      MA  42.35866   -71.0567  0.739298 -1.240173
1      1900    Brooklyn      NY  40.69245   -73.9904  0.710217 -1.291376
2      1900     Chicago      IL  41.88425   -87.6324  0.731018 -1.529474
3      1900  Cincinnati      OH  39.10713   -84.5041  0.682548 -1.474875
4      1900    New York      NY  40.78200   -73.8317  0.711780 -1.288606
..      ...         ...     ...       ...        ...       ...       ...
137    2010   St. Louis      MO  38.62775   -90.1996  0.674181 -1.574280
138    2010   Tampa Bay      FL  27.58300   -82.6330  0.481414 -1.442218
139    2010       Tempe      AZ  33.42551  -111.9370  0.583385 -1.953669
140    2010     Toronto  Canada  43.65740   -79.4328  0.761965 -1.386364
141    2010  Washington      DC  38.89037   -77.0320  0.678765 -1.344462

            X         Y         Z
0    0.239884 -0.698921  0.673769
1    0.209116 -0.728813  0.651998
2    0.030756 -0.743860  0.667628
3    0.074318 -0.772401  0.630772
4    0.210850 -0.727251  0.653183
..        ...       ...       ...
137 -0.002722 -0.781213  0.624258
138  0.113651 -0.879024  0.463033
139 -0.311797 -0.774173  0.550852
140  0.132678 -0.711211  0.690345
141  0.174667 -0.758497  0.627832

[142 rows x 10 columns]

In [35]:
data_1960X = np.mean(df.loc[(df['Decade'] == 1960)])
# data_1960X = df.loc[(df['Decade'] == 1960)].mean()
print(data_1960X)

Decade       1960.000000
Latitude       40.064213
Longitude     -86.971988
lat_rad         0.699252
lon_rad        -1.517948
X               0.038300
Y              -0.740331
Z               0.643188
dtype: float64

/Users/f67f911/opt/anaconda3/envs/swe/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Users/f67f911/opt/anaconda3/envs/swe/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

While that was pretty sweet, doing this for all of the decades will be a pain. Plus then you are going to have a variable (like data_1960X for each of the decades. 

This is where the power of computing really shows its strengths.

Pandas `groupby` groups data according to the categories and apply a function to the categories.

Let me show you what I mean.

In [36]:
geogMean = df.groupby(['Decade']).mean()
print(geogMean)

         Latitude  Longitude   lat_rad   lon_rad         X         Y         Z
Decade
1900    40.480357 -79.546863  0.706516 -1.388355  0.136338 -0.742877  0.649048
1920    40.635912 -79.751781  0.709230 -1.391931  0.133634 -0.741790  0.651082
1940    40.635912 -79.751781  0.709230 -1.391931  0.133634 -0.741790  0.651082
1960    40.064213 -86.971987  0.699252 -1.517948  0.038300 -0.740331  0.643188
1980    39.338697 -91.991654  0.686590 -1.605557 -0.028153 -0.737364  0.631988
2000    38.485363 -92.402903  0.671696 -1.612735 -0.032835 -0.747164  0.619978
2010    38.179712 -92.490617  0.666362 -1.614266 -0.033013 -0.750535  0.615800

Holy Cow - that was slick. But it looks like `Decade` is not a column name, and is instead an index. (This caused me a lot of suffering while developing this lab!)

> Let's redo our work, but clean up our dataset.

In [37]:
geogMean = df.groupby(['Decade'],as_index=False).mean() # Don't make decade an Index! Instead it should be a column name.
print(geogMean)

   Decade   Latitude  Longitude   lat_rad   lon_rad         X         Y  \
0    1900  40.480357 -79.546863  0.706516 -1.388355  0.136338 -0.742877
1    1920  40.635912 -79.751781  0.709230 -1.391931  0.133634 -0.741790
2    1940  40.635912 -79.751781  0.709230 -1.391931  0.133634 -0.741790
3    1960  40.064213 -86.971987  0.699252 -1.517948  0.038300 -0.740331
4    1980  39.338697 -91.991654  0.686590 -1.605557 -0.028153 -0.737364
5    2000  38.485363 -92.402903  0.671696 -1.612735 -0.032835 -0.747164
6    2010  38.179712 -92.490617  0.666362 -1.614266 -0.033013 -0.750535

          Z
0  0.649048
1  0.651082
2  0.651082
3  0.643188
4  0.631988
5  0.619978
6  0.615800

##Questions
3. What is the mean x,y, and z coordinate for 2010?

# Converting back to lat and long

As we discussed in class lat and lon are great for mapping things on a flat map, but do not do so well with measuring distances on a sphere. 

To display our mean centers on a webmap we have to take our x,y, and z measuremtns and return them to Lat and Long

Convert lat and lon to degrees from radians.

```
meanLat = meanLat * 180/PI
meanLon = meanLon * 180/PI
```

Convert average x, y, z coordinate to latitude and longitude. 

```
meanLon = arctan2(y, x)
Hyp = sqrt(x * x + y * y)
meanLat = arctan2(z, hyp)
```

In [ ]:
#Create a column for the mean latitude and mean longitude in our geogMean dataframe here
#HINT: you may need to make an additioanl column to calculate mean lattitude

In [45]:
# Delete
geogMean["meanLat"] = geogMean['lat_rad'] * 180/PI
geogMean["meanLon"] = geogMean['lon_rad'] * 180/PI

# geogMean["meanLon"] = np.arctan(geogMean['Y'], geogMean['X'])
geogMean

,Decade,Latitude,Longitude,lat_rad,lon_rad,X,Y,Z,meanLat,meanLon
0,1900,40.480357,-79.546863,0.706516,-1.388355,-0.638927,-0.742877,0.649048,40.480358,-79.546863
1,1920,40.635912,-79.751781,0.709230,-1.391931,-0.638226,-0.741790,0.651082,40.635912,-79.751781
2,1940,40.635912,-79.751781,0.709230,-1.391931,-0.638226,-0.741790,0.651082,40.635912,-79.751781
3,1960,40.064213,-86.971987,0.699252,-1.517948,-0.637284,-0.740331,0.643188,40.064213,-86.971988
4,1980,39.338697,-91.991654,0.686590,-1.605557,-0.635365,-0.737364,0.631988,39.338697,-91.991654
5,2000,38.485363,-92.402903,0.671696,-1.612735,-0.641684,-0.747164,0.619978,38.485363,-92.402903
6,2010,38.179712,-92.490617,0.666362,-1.614266,-0.643844,-0.750535,0.615800,38.179712,-92.490617

Now lets clean up our dataset. We only care about the Mean Latitude, Mean Longitude, and Decade columns. Drop the other columns from the geogMean dataframe

In [ ]:
# Delete

In [31]:
geogMean['Decade'] = geogMean['Decade'].apply(str) #Confirms that the decade variable a string

Now let's map out these data using [Folium](/https://python-visualization.github.io/folium/quickstart.html#Vincent/Vega-and-Altair/VegaLite-Markers).

In [ ]:
#Create a webmap here that displays the mean centers of MLB teams over time. 

#HINT: While this is possible in many lines of code, you can be more efficeint with a For loop. 
#https://www.w3schools.com/python/python_for_loops.asp

##Questions
4. Our map shows an unweighted spatial **Mean** of professional baseball teams over time. What do you think might change if we graphed the spatial **Median** of the teams? Why?
5. Liam is a huge baseball fan. According to our map, where should he move to be as close to as many professional teams as possible? 
6. Liam wants to minimize his travel time to see as many games as possible. Do you think he should decide where to move using the spatial mean of the teams or the spatial median? Why?